.billDiv {
  display: inline-block;
  background-color: #f6f6f6;
  height: 77vh;
  width: 300px;
  margin-left: 20px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.readyButton {
  width: 90%;
  background-color: yellowgreen;
  color: white;
  position: absolute;
  bottom: 0px;
}
.orderDetails {
  display: flex;
  position: relative;
}

.orderAmount {
  position: absolute;
  right: 5px;
}
