.searchBox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.33rem;
  height: 6vh;
  min-width: 15rem;
}

.input {
  padding-left: 0.25vw;
  border: none;
  width: 100%;
  outline: none;
}

.cancelIcon,
.searchIcon {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
  padding: 0.25rem;
}
.cancelIcon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.cancelIcon:active {
  background-color: rgba(0, 0, 0, 0.3);
  transition: ease-in-out 150ms;
  border-radius: 7px;
}
